body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1323px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  line-height:25px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:34px;
  width:500px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  line-height:25px;
}
#u1032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  white-space:nowrap;
}
#u1033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:250px;
  width:705px;
  height:300px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  white-space:nowrap;
}
#u1034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:624px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1034_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:624px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1035_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:654px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1036_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u1036_seg1 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1036_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:654px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1037_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u1037_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1037_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:684px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1038_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u1038_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:54px;
  width:18px;
  height:19px;
}
#u1038_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u1039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:751px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1039_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:624px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1040_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u1041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:751px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1041_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:684px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1042_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u1042_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:54px;
  width:18px;
  height:19px;
}
#u1042_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:624px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1043_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:654px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1044_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u1044_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1044_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:624px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1045_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:654px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1046_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u1046_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1046_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:654px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1047_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1047_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:624px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:1223px;
  top:624px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:654px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1050_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u1050_seg1 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:751px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:684px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1052_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u1052_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:54px;
  width:18px;
  height:19px;
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u1053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:911px;
  width:754px;
  height:225px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  white-space:nowrap;
}
#u1054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1241px;
  width:461px;
  height:200px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  white-space:nowrap;
}
