body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:731px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  line-height:25px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:34px;
  width:405px;
  height:125px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  line-height:25px;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  white-space:nowrap;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:273px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:273px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:303px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u642_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u642_seg1 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-9px;
  width:19px;
  height:18px;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:401px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:273px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:303px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u645_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u645_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-9px;
  width:19px;
  height:18px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:333px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u646_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u646_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:19px;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:273px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:303px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u648_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u648_seg1 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-9px;
  width:19px;
  height:18px;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:273px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u649_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-53px;
  width:8px;
  height:53px;
}
#u649_seg1 {
  border-width:0px;
  position:absolute;
  left:-190px;
  top:-53px;
  width:194px;
  height:8px;
}
#u649_seg2 {
  border-width:0px;
  position:absolute;
  left:-190px;
  top:-53px;
  width:8px;
  height:53px;
}
#u649_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-13px;
  width:18px;
  height:19px;
}
#u649_seg4 {
  border-width:0px;
  position:absolute;
  left:-195px;
  top:-13px;
  width:18px;
  height:19px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:-58px;
  width:100px;
  word-wrap:break-word;
}
#u650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:401px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:333px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u651_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u651_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:19px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:431px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u652_seg0 {
  border-width:0px;
  position:absolute;
  left:-274px;
  top:-4px;
  width:278px;
  height:8px;
}
#u652_seg1 {
  border-width:0px;
  position:absolute;
  left:-280px;
  top:-9px;
  width:19px;
  height:18px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:-187px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:555px;
  width:57px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:736px;
  width:57px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:891px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
