body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1821px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:366px;
  width:984px;
  height:350px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  white-space:nowrap;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1721px;
  height:279px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:36px;
  width:1721px;
  height:279px;
}
#u1547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:107px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1548_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:137px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1549_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u1549_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1549_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:49px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:107px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1551_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:107px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1552_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:137px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1553_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u1553_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1553_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:107px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1554_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:137px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1555_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:110px;
  height:8px;
}
#u1555_seg1 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1555_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:219px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1556_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:167px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1557_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u1557_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u1557_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u1558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:107px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1558_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:137px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1559_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:151px;
  height:8px;
}
#u1559_seg1 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1559_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-17px;
  width:100px;
  word-wrap:break-word;
}
#u1560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:219px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1560_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1561 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:167px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1561_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u1561_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u1561_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u1562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1562 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:107px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1562_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1563 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:249px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1563_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:168px;
  height:8px;
}
#u1563_seg1 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:-82px;
  width:8px;
  height:86px;
}
#u1563_seg2 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:-88px;
  width:18px;
  height:19px;
}
#u1563_text {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1564 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:137px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1564_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u1564_seg1 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1564_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:1641px;
  top:107px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u1566 {
  border-width:0px;
  position:absolute;
  left:1581px;
  top:137px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1566_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u1566_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1566_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:107px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:137px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1568_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u1568_seg1 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1568_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:219px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1569_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:167px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1570_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u1570_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u1570_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:107px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1571_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:137px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1572_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u1572_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1572_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:3502px;
  width:780px;
  height:275px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  white-space:nowrap;
}
#u1574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:989px;
  width:685px;
  height:200px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  white-space:nowrap;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:425px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1808px;
  width:937px;
  height:425px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  white-space:nowrap;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:366px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2252px;
  width:1226px;
  height:366px;
}
#u1578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:2323px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1579_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:2353px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1580_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u1580_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1580_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:2265px;
  width:127px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:2323px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:2435px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1583_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:2383px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1584_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u1584_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u1584_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u1585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:2323px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1585_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1586 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:2353px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1586_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u1586_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1586_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:2323px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1587_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:96px;
  word-wrap:break-word;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:2353px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1588_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u1588_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1588_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:2383px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1589_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:86px;
}
#u1589_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:78px;
  width:137px;
  height:8px;
}
#u1589_seg2 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:73px;
  width:19px;
  height:18px;
}
#u1589_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:74px;
  width:100px;
  word-wrap:break-word;
}
#u1590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:2435px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:2383px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1591_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u1591_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u1591_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u1592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:2323px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:2353px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1593_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u1593_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1593_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:2435px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2383px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1595_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u1595_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u1595_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u1596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:2323px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1596_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:2353px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1597_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u1597_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1597_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:2465px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1598_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1598_seg1 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-81px;
  width:8px;
  height:85px;
}
#u1598_seg2 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-87px;
  width:18px;
  height:19px;
}
#u1598_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:2465px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1599_seg0 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-4px;
  width:83px;
  height:8px;
}
#u1599_seg1 {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1599_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:2495px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1600_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u1600_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:34px;
  width:377px;
  height:8px;
}
#u1600_seg2 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:-111px;
  width:8px;
  height:153px;
}
#u1600_seg3 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:-117px;
  width:18px;
  height:19px;
}
#u1600_text {
  border-width:0px;
  position:absolute;
  left:190px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:2323px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1601_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:2495px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1602_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:93px;
}
#u1602_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:85px;
  width:911px;
  height:8px;
}
#u1602_seg2 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:-112px;
  width:8px;
  height:205px;
}
#u1602_seg3 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:-118px;
  width:18px;
  height:19px;
}
#u1602_text {
  border-width:0px;
  position:absolute;
  left:458px;
  top:81px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:2353px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1603_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u1603_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1603_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1036px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2705px;
  width:1036px;
  height:375px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1036px;
  white-space:nowrap;
}
#u1605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:3202px;
  width:405px;
  height:200px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  white-space:nowrap;
}
#u1606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:3848px;
  width:433px;
  height:175px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:1771px;
  top:0px;
  width:50px;
  height:4048px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:4033px;
  width:280px;
  height:240px;
}
#u1609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1609_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:200px;
  height:30px;
  text-align:left;
}
#u1610_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:188px;
  word-wrap:break-word;
}
#u1611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:30px;
}
#u1611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:30px;
  width:200px;
  height:30px;
  text-align:left;
}
#u1612_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:188px;
  word-wrap:break-word;
}
#u1613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:30px;
}
#u1613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:60px;
  width:200px;
  height:30px;
  text-align:left;
}
#u1614_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:188px;
  word-wrap:break-word;
}
#u1615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:80px;
  height:30px;
}
#u1615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:90px;
  width:200px;
  height:30px;
  text-align:left;
}
#u1616_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:188px;
  word-wrap:break-word;
}
#u1617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:30px;
}
#u1617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:120px;
  width:200px;
  height:30px;
  text-align:left;
}
#u1618_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:188px;
  word-wrap:break-word;
}
#u1619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:80px;
  height:30px;
}
#u1619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:150px;
  width:200px;
  height:30px;
  text-align:left;
}
#u1620_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:188px;
  word-wrap:break-word;
}
#u1621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:80px;
  height:30px;
}
#u1621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:180px;
  width:200px;
  height:30px;
  text-align:left;
}
#u1622_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:188px;
  word-wrap:break-word;
}
#u1623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:80px;
  height:30px;
}
#u1623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:210px;
  width:200px;
  height:30px;
  text-align:left;
}
#u1624_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4273px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:732px;
  width:160px;
  height:150px;
}
#u1627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1627_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1628_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u1629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:30px;
  width:80px;
  height:30px;
  text-align:left;
}
#u1630_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u1631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:60px;
  width:80px;
  height:30px;
  text-align:left;
}
#u1632_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u1633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:90px;
  width:80px;
  height:30px;
  text-align:left;
}
#u1634_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u1635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:120px;
  width:80px;
  height:30px;
  text-align:left;
}
#u1636_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u1637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:325px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1228px;
  width:909px;
  height:325px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  white-space:nowrap;
}
#u1638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1582px;
  width:477px;
  height:125px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u1638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  white-space:nowrap;
}
